# Environment variables / Secrets
.env
backend/.env
*.env

# Python files
__pycache__/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
backend/venv/
.venv/
env/
bin/
lib/
include/

# Node / JS
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.eslintcache

# Local IDE and System files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
